Package: corner
Version: 0.0.1
Section: video
Priority: optional
Architecture: amd64
Maintainer: Policratus <policratus@gmail.com>
Description: Real-time 2D measurements of objects based on visual markers
Depends: libopencv
