name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run tests
      working-directory: ${{github.workspace}}/tests/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        sudo apt-get install libopencv-dev -y
        cmake -B ${{github.workspace}}/tests/build
        cmake --build ${{github.workspace}}/tests/build
        ${{github.workspace}}/tests/build/tests -s
